@import "https://fonts.googleapis.com/css?family=Quicksand";
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.app {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.container {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 6%;
    margin: 0;
}
